<!-- Default form login -->
<div class="background">

</div>

<div class="login-container row justify-content-center m-0">
  <form class="login-form text-center col-10 col-sm-8 col-md-6 col-lg-4 p-4">
    <p class="h4 mb-4">Sign in</p>
    <div class="row justify-content-center">
      <input type="email" id="defaultLoginFormEmail" class="col-8 form-control form-control__input mb-4" placeholder="E-mail">
      <input type="password" id="defaultLoginFormPassword" class="col-8 form-control form-control__input mb-4" placeholder="Password"> 
      <button class="btn btn-dark btn-dark__submit col-8 mb-4">SIGN IN</button>
      <p class="col-8 mb-4">Forgot password?</p> 
    </div>
  </form>
</div>
