<!-- Default form login -->
<div class="background">

</div>

<div class="login-container row justify-content-center m-0">
  <form class="login-form text-center col-10 col-sm-8 col-md-6 col-lg-4 p-4">
    <p class="h4 mb-4">Sign in</p>
    <div class="row justify-content-center">
      <a-input 
        class="col-8 mb-4"
        [className]="'form'"
        [type]="'email'"
        [id]="'defaultLoginFormEmail'"
        [placeholder]="'E-mail'"
      ></a-input>
        
      <a-input 
        class="col-8 mb-4"
        [className]="'form'"
        [type]="'password'"
        [id]="'defaultLoginFormPassword'"
        [placeholder]="'Password'"
      ></a-input>
      <button class="btn btn-dark btn-dark__submit col-8 mb-4">SIGN IN</button>
      <a-button
        [disabled]="false"
        (click)="show()"
      >CLICK ME</a-button>
      <p class="col-8 mb-4">Forgot password?</p> 
    </div>
  </form>
</div>
